{% extends "base2.html" %}
{% load static %}
{% block extrahead %}
<style>
  .borderless td, .borderless th {
    border: none;
}
.membership-card-body{
  min-height: 300px;
  background: #f1f1f1;
    border-radius: 10px;
}
.membership-card{
  width: 30rem ;
}
@media only screen and (max-width: 670px)  {
  .membership-card{
  width: 20rem ;
}
    }


.membership-action-loader{
  display: none;
}
.billing-cycle:first-letter{
  text-transform: capitalize
}
.date-letter-spacing{
  letter-spacing: 0.2em; 
}
.active-color{
  color: green;
}
.custom-badge{
  /* display: flex !important;
  align-items: center !important;
  height: 24px; */
  min-width: 125px;
}
.custom-badge2{
  min-width: 125px;
}
.membership-heading{
    background-color:  #707070;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 6px;
  }
  .tb_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    /* margin: 5% 40%; */
  }
  .limit-alert-bar {
    display: flex;
    align-items: center;
    background-color: #f3f5f7;
    border-radius: 10px;
    padding: 15px 20px;
  }
  
  .limit-alert>img {
    max-width: 80%;
  }
  
  .upgrade-btn {
    margin-left: auto;
    background-color: #167ee6;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
  }
  
  .upgrade-btn:hover {
    background-color: transparent;
    color: #167ee6;
    border-color: #167ee6;
  }
  
  .upgrade-btn>img {
    margin-right: 5px;
  }
  
/* .toggle1 {
    --width: 115px;
    --height: calc(var(--width) / 4);
    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
         display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
  }
  */
  .membership-action-btn{
    display: none;
  }

.membership-action-btn:hover{
background-color:#f1f1f1 !important ;
}
.membership-action-btn:active{
background-color:#f1f1f1 !important ;
}
  /* .toggle1 input {
    display: none;
  } */

  /* .toggle1 .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #2196F3;
    transition: all 0.4s ease-in-out;
  }

  .toggle1 .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
    margin-left: 2px;
  }

  .toggle1 input:checked+.slider {
    background-color: #e90f0f;
  }

  .toggle1 input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle1 .labels {
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
  }

  .toggle1 .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 10px;
    color: #fff;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
    font-size: 18px;
  }

  .toggle1 .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 10px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle1 input:checked~.labels::after {
    opacity: 0;
    font-size: 18px;
  }

  .toggle1 input:checked~.labels::before {
    opacity: 1;
    font-size: 18px;
  } */

   .table-head.errorTypes {
    height: auto;
  }

  .tb_loader {
    position: absolute;
    z-index: 999;
    /* margin: 5% 40%; */
  }

   @media (max-width: 1300px) {
    main {
      padding-left: 16%;
    }
  } 
  @media only screen and (min-width: 992px){
main {
    padding-left: 16%;
    padding-top: 20px;
}
  }
  
  @media (max-width: 1199px) {
    main {
      padding-left: 20%;
    }
  } 
 @media (max-width: 991px) {
    main {
      padding-left: 0;
      margin-top: 125px;
    }
  }  
</style>

{% endblock %}
{% block content %}
<div class="container">
  <!-- Crawler Heading Section  -->
  <div class="row ">
    <div class="col-xl-9">
      <div class="center-section">
        <h4 class="title mb-5 fw-400 pb-2">Membership</h4>
      </div>
    </div>
    <div class="col-xl-3 freeProSectionMembership2" style="text-align: right; display: none;">
    <a href="/subscription/upgrade_subscription/" class="upgrade-btn" >
      <img src="../../static/site_audit/assets/king.png" alt="king" />
      Upgrade plan
    </a>
    </div>
  </div>
  <!-- table code start  -->

  <!-- card code start here  -->
  <div class="d-flex justify-content-center align-items-center mb-5">
    
  <div class="card membership-card" style=" border: none;">
    <div class="card-body membership-card-body">
      <h4 class="mb-3 p-2 text-center membership-heading">Membership Details</h4>
      <table class="table table-bordered table-hover borderless">
        <tbody id="links_detail">
          <div class="tb_loader text-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </tbody>
      </table>
      <div   class="text-center membership-action-btn my-2" > 
      </div>
    </div>
  </div>

</div>
<div class="limit-alert-bar mt-md-5 mb-md-4 mx-4 mt-5 mb-4 freeProSectionMembership" style="display: none;">
  <div class="limit-alert">
    <img src="../../static/site_audit/assets/limit-alert.png" alt="limit-alert" />
  </div>
  <p class="font-14 text-black m-0 freeProSectionMembershipText ">
    You've reached your limits for the free plan. You can see more by
    upgrading to the higher plan.
  </p>
  <a href="/subscription/upgrade_subscription/" class="upgrade-btn">
    <img src="../../static/site_audit/assets/king.png" alt="king" />
    Upgrade plan
  </a>
</div>

<!-- <div class="limit-alert-bar mt-md-5 mb-md-4 mx-4 mt-5 mb-4 freeProSectionMembership2" style="display: none;">
  <a href="/subscription/upgrade_subscription/" class="upgrade-btn">
    <img src="../../static/site_audit/assets/king.png" alt="king" />
    Upgrade plan
  </a>
</div> -->
<!-- 
  <div class='sort-table error-types-table'>
    <table id="displayTable" class="table table-striped table-bordered table-sm tabs-table mt-4" cellspacing="0"
    width="100%">
    <thead class="table-head errorTypes">
      <tr>
        <th class="th-sm   br-0 ">Billing Cycle</th>
        <th class="th-sm text-center  ">Starts At</th>
        <th class="th-sm text-center  ">Ends At</th>
        <th class="th-sm text-center  ">Renewed At</th>
        <th class="th-sm text-center  ">Cancelled At</th>
        <th class="th-sm text-center  ">Created At</th>
        <th class="th-sm text-center  ">Expired At</th>
        <th class="th-sm text-center  ">Plan</th>
        <th class="th-sm text-center  ">Membership</th>
      </tr>
    </thead>
    <tbody id="links_detail">
        <div class="tb_loader">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
    </tbody>
    </table>
</div> -->
</div>
{% endblock %}

{% block extrascript %}
<!-- <script src="https://cdn.rawgit.com/julmot/mark.js/master/dist/jquery.mark.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.12.1/dataRender/ellipsis.js"></script> -->
<script src="{% static 'subscription_module/js/membership.js' %}"></script>

{% endblock %}