node_modules/
dist/
*.class
*.py[cod]
*.log
*.jar
target/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.db
*.pyc
*.pkl
*.orig
*.py~
*.txt~
*.xls
*.xlsx
*.xls~
*.xlsx~
*.pdf
*.tar
*.tar.gz
*.csv
*.log*
*.xlb
*.XLS
*.py.orig
*.zip
*.sqlite3
/media/
/static/
.idea/*
typescript
site_checkup/local_settings.py
