{% extends "base2.html" %}in_load
{% load static %}
{% block extrahead %}
<link href="{% static 'site_audit/css/acqu.css' %}" rel="stylesheet">
<style>
  #overlay_new {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  .cv-spinner_new {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .spinner_new {
    width: 100px;
    height: 100px;
    border: 5px #ddd solid;
    border-top: 5px #353b41 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
  }

  @keyframes sp-anime {
    100% {
      transform: rotate(360deg);
    }
  }

  #daterange_audi {
    width: 200px;
  }

  .dropdown_custom {
    position: relative;
    /* display: inline-block; */
    height: 100%;
    line-height: 41px;
    align-items: center;
    justify-content: center;
  }

  .dropdown_custom .dropdown-list {
    padding: 12px;
    background: #fff;
    position: absolute;
    top: 0px;
    z-index: 999;
    width: 300px;
    left: 0px;
    /* right: 2px; */
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 15%);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform 0.15s ease-in-out 0.15s;
    max-height: 66vh;
    overflow-y: scroll;
  }

  .dropdown_custom .dropdown-option {
    display: block;
    /* padding: 8px 12px; */
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }

  .dropdown_custom .dropdown-label {
    height: 30px;
    background: #fff;
    cursor: pointer;
  }

  .dropdown_custom .dropdown-label:before {
    content: "▼";
    float: right;
  }

  .dropdown_custom.on .dropdown-list {
    transform: scale(1, 1);
    transition-delay: 0s;
  }

  .dropdown_custom.on .dropdown-list .dropdown-option {
    opacity: 1;
    transition-delay: 0.2s;
  }

  .dropdown_custom.on .dropdown-label:before {
    content: "▲";
  }

  .dropdown_custom [type=checkbox] {
    position: relative;
    top: 2px;
    margin-right: 4px;
  }

  .btn-check:focus+.btn,
  .btn:focus {
    outline: 0;
    box-shadow: none !important
  }


  .grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    gap: 5px;

    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-container>div.grid-items {
    padding: 5px;

  }

  .users_chart_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 30vh;
  }

  .newUsersChart_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 30vh;
  }

  .newUsersLineChart_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 30vh;
  }


  .countryBreakDownChart_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 30vh;
  }

  .countryBreakDownTable_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 10vh;
  }

  .deviceChart_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 30vh;
  }

  .deviceTable_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 3vh;
  }

  .languageBreakdownChart_spinner,
  .languageBreakDownTable_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 30vh;

  }

  .pageViews_spinner {
    font-size: 12px;
    margin-top: 5px;
    padding-left: 30px
  }
  .blur-class{
  
       -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    /* filter: blur(2px); */
    opacity: 0.3;
  }
  #add_analytics_button{
    position: sticky;
    z-index: 9;
    top: 50%;
    width: auto;
    height: auto;
    display: none;
  }
  .cv_add_analytics_button{
    height: 100%;
    max-width: 200px;
    text-align: center;
margin: auto;
  }
  .background-custom{
  width: 100%;
  /* margin-top: -30px; */
  margin-left: 1%;
  height: 70vh;
}
.background-custom2{
  margin-left: 33px;
    margin-top: -40px;
    margin-bottom: 30px !important;
}
.google_spinner{
   opacity: 0;
}


/* @media only screen and (max-width: 995px) {
  #add_analytics_button {
   display: none !important;
  }
} */
 
</style>
{% endblock %}
{% block content %}


<div id="overlay_new" style="display: none;">
  <div class="cv-spinner_new">
    <span class="spinner_new"></span>
  </div>
</div>

<div id="add_analytics_button" style="display: none;">
  <div class="cv_add_analytics_button ">
   
    <button class="btn btn-primary gogle-btn conect_g_analytics_neww " type="button" style="padding: 15px;">
      <span class="spinner-border spinner-border-sm google_spinner" role="status" aria-hidden="true"></span>
      <i class="fa fa-cloud-upload" aria-hidden="true"></i> Add  Analytics
      </button>

  </div>
  </div>
</div>
<div class="blur-class" id="alternative_img" style="display: none;">
  <h4 class="title title yellow mb-4  pb-2 custom-head background-custom2 " >Google Analytics
    Audience Overview</h4>
  <img  src="../../static/site_audit/assets/img/audience.png" alt="" class="background-custom">
</div>

<div class="container AudienceOverview margin-left" id="main-tag" style="display: none;">
  <h4 class="title title yellow mb-4  pb-2 custom-head " >Google Analytics
    Audience Overview</h4>
<div class="wrapper1 mb-4">
    <div class="c_dp">
      <div class="dropdown_custom" data-control="checkbox-dropdown">
        <label id="continentListlabel" class="dropdown-label">Continent</label>
        <div class="dropdown-list">
          <span class="float-end d-block Sessions" title="Sessions"><b>Sessions</b></span>
          <label class=""><input type="checkbox" name="" id="checkAllContinent"><b> Continent</b></label>
          <input id="continent" type="text" placeholder="Search.." class="form-control form-control-sm" />
          <div id="continentList"></div>
        </div>
      </div>
    </div>
    <div class="c_dp">
      <div class="dropdown_custom" data-control="checkbox-dropdown">
        <label class="dropdown-label">Region</label>
        <div class="dropdown-list">
          <span class="float-end d-block Sessions" title="Sessions"><b>Sessions</b></span>
          <label><input type="checkbox" name="" id="checkAllRegion"><b>Region</b></label>
          <input id="region" type="text" placeholder="Search.." class="form-control form-control-sm" />
          <div id="RegionList">
          </div>
        </div>
      </div>
    </div>
    <div class="c_dp">
      <div class="dropdown_custom" data-control="checkbox-dropdown">
        <label class="dropdown-label">Channel</label>
        <div class="dropdown-list">
          <span class="float-end d-block Sessions" title="Sessions"><b>Sessions</b></span>
          <label><input type="checkbox" name="" id="checkAllChannel"><b>Channel</b></label>
          <input id="channel" type="text" placeholder="Search.." class="form-control form-control-sm" />
          <div id="channelList"></div>
        </div>
      </div>
    </div>
    <div class="c_dp">
      <div class="dropdown_custom" data-control="checkbox-dropdown">
        <label class="dropdown-label">Device</label>
        <div class="dropdown-list">
          <span class="float-end d-block Sessions" title="Sessions"><b>Sessions</b></span>
          <label><input type="checkbox" name="" id="checkAllDevice"><b>Device</b></label>
          <input id="device" type="text" placeholder="Search.." class="form-control form-control-sm" />
          <div id="deviceList"></div>
        </div>
      </div>
    </div>
    <div class="c_dp">
      <div class="input-group p-2">
        <input type="text" readonly id="daterange_audi" name="daterange_audi" value=""
          class="border-0 date-range-toggle" />
        <span onclick="myFunction()" class="input-group-text" id="basic-addon1"></span>
      </div>
    </div>
  </div>
      <h3 class="text-gray mb-3 mt-4 pl-2 font-22 fw-400">Your audience at a glance</h3> 

  <div class="row my-4">

    <div class="col-lg-8">
      <div class="card ">
        <div class="card-body">
          <div class="users_chart_spinner">
            <div class="spinner-border spinner-border-sm" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div id="users_chart_div" style="height:240px"></div>
          <div class="grid-container" style="padding: 0px 40px 28px 40px;">
            <div class="grid-item"><label>Users</label>
              <h3 class="UserStats" id="usersCount">
                <div class="pageViews_spinner">
                  <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </h3>
              <span id="usersCountChart" style="height: 60px;"></span>
            </div>
            <div class="grid-item"><label>New Users</label>
              <h3 class="UserStats" id="newUsersCount">
                <div class="pageViews_spinner">
                  <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </h3><span id="newUsersCountChart"></span>
            </div>
            <div class="grid-item"><label>Number of sessions per user</label>
              <h3 class="UserStats" id="usersSessions">
                <div class="pageViews_spinner">
                  <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </h3><span id="usersSessionsChart"></span>
            </div>
            <div class="grid-item"><label>Sessions</label>
              <h3 class="UserStats" id="sessionCount">
                <div class="pageViews_spinner">
                  <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </h3><span id="sessionCountChart"></span>
            </div>
            <div class="grid-item"><label>Page Views</label>
              <h3 class="UserStats" id="pageViews">
                <div class="pageViews_spinner">
                  <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </h3><span id="pageViewsChart"></span>
            </div>
            <div class="grid-item"><label>Pages / Session</label>
              <h3 class="UserStats" id="pagePerSession">
                <div class="pageViews_spinner">
                  <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </h3><span id="pagePerSessionChart"></span>
            </div>
            <div class="grid-item"><label>Avg. Session Duration</label>
              <h3 class="UserStats" id="sessonDuration">
                <div class="pageViews_spinner">
                  <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </h3><span id="sessonDurationChart"></span>
            </div>
            <div class="grid-item"><label>Bounce Rate</label>
              <h3 class="UserStats" id="bounceRate">
                <div class="pageViews_spinner">
                  <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </h3>
              <span id="bounceRateChart"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card ">
        <div class="card-body">
          <div id="newUsersPieChart" style="height:345px; ">
            <div class="newUsersChart_spinner">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
          <div id="newUsersLineChart" style="height:155px;">
            <div class="newUsersLineChart_spinner">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="mt-5 mb-2">
    Lets learn a bit more about your users!
  </h3>
  <div class="row mb-4">
    <div class="col">
      <div class="card " style="height: 627px;">
        <div class="card-body">
          <label>Language Breakdown</label>
          <div id="languageBreakdownChart" class="w-100" style="height: 231px;">
            <div class="languageBreakdownChart_spinner">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
          <div id="languageBreakdownTable">
            <div class="languageBreakDownTable_spinner">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card " style="height: 627px;">
        <div class="card-body">
          <label id="countryBreakdownlabel">Country Breakdown</label>
          <div id="countryBreakdownChart" class="w-100" style="height: 303px;">
            <div class="countryBreakDownChart_spinner">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
          <div id="countryBreakdownTable">
            <div class="countryBreakDownTable_spinner">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card " style="height: 627px;">
        <div class="card-body">
          <label>What device are people using ?</label>
          <div id="deviceChart" class="w-100" style="height: 340px;">
            <div class="deviceChart_spinner">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
          <div id="deviceTable">
            <div class="deviceTable_spinner">
              <div class="spinner-border spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block extrascript %}
<script src="{% static 'site_audit/js/audience_overview2.js'%}"></script>
<!-- heighChart mapbuble end -->
<!-- maps api -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=myMap"></script> -->

<style>
  .google-visualization-table>div:first-child {
    max-height: 300px !important;
    overflow-y: auto;
  }

  .google-visualization-table-tr-sel,
  .google-visualization-table-tr-over {
    background-color: #fff !important;
  }

  .google-visualization-table-tr-head {
    background-color: #fff;
  }

  .google-visualization-table-tr-odd {
    background-color: #fff;
  }


  .google-visualization-table-div-page.gradient {
    background: none;
    text-align: right;
  }

  .google-visualization-table-table td,
  .google-visualization-table-table th {
    border-right: none;
  }


  div.google-visualization-tooltip {
    font-size: 14px;
  }

  /* 
    div#languageBreakdownTable tbody tr:first-child td:nth-child(3),div#countryBreakdownTable tbody tr:first-child td:nth-child(3) {
    background-color: #7cb342;
}
div#languageBreakdownTable tbody tr:not(first-child) td:nth-child(3),div#countryBreakdownTable tbody tr:not(first-child) td:nth-child(3) {
    background-color: #f97e00;
} */

  div#deviceTable tbody tr:first-child td:nth-child(3) {
    background-color: #7cb342;
  }

  div#deviceTable tbody tr:nth-child(2) td:nth-child(3) {
    background-color: #ffa800;
  }

  div#deviceTable tbody tr:nth-child(3) td:nth-child(3) {
    background-color: #f97e00;
  }

  .google-visualization-table-table td,
  .google-visualization-table-table th {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-bottom-color: rgb(209, 209, 209);
  }

  .google-visualization-table-table tr td:nth-child(2) {
    max-width: 100px !important;
  }
</style>
{% endblock %}
