{% extends "base2.html" %}
{% load static %}
{% block extrahead %}
{% endblock %}
{% block content %}
<div class="container">
<div class="pt-4 pb-2">

 <app-breadcrumbs class="c197 ng-star-inserted"><a 
   class="home ng-star-inserted"><img  src="../../static/site_audit/assets/home.svg" alt="">
   <app-url-shortener class="c197">
    <div  class="segment ng-star-inserted">www.</div>
    <div class="selectedWebsite segment longest ng-star-inserted" ></div>


   </app-url-shortener>
  </a>
  <div  class="delimiter ng-star-inserted">/</div><a 
   class="item ng-star-inserted">Keyword Introduction</a>
  <!---->
  <!---->
 </app-breadcrumbs>
</div>

 <div class="row">
  <div class="col-md-12">

   <div class="ng-star-inserted">
    <div class="keyword-tracker-card">
     <div class="keyword-tracker-image"><img
       src="../../static/site_audit/assets/woman-with-cat-min.svg" decoding="async"
       alt="Woman with a cat working from home" role="presentation"></div>
     <div class="keyword-tracker-info">
      <h2 class="keyword-tracker-info__title">Keyword Tracker</h2>
      <p class="keyword-tracker-info__text"> Monitor the Google rankings for the most important
       keywords for your business. Once you add tracking to a keyword you will be able to see changes over time and also
       receive updates as well as objectives/alerts when important ranking changes occur. </p>
       <a href="/site_audit/my_keywords" id="back-to-keywords-btn-bottom" class="primary steps__btn c50">
        <!----><span class="c50"> Back to My Keywords </span>
       </a>
     </div>
    </div>
    <div class="steps">
     <h1 class="steps__title">How to use this tool</h1>
     <article class="step">
      <div class="step-image"><img src="../../static/site_audit/assets/review_keywords.svg"
        decoding="async" alt="My Keywords page functionality" role="presentation"></div>
      <div class="step-info">
       <h3 class="step-info__title">Step 1: Review the keywords your website already ranks for.
       </h3>
       <p class="step-info__text"> Under the Tracking column click the Start button and We will
        automatically start tracking that keyword for you! </p>
      </div>
     </article>
     <article class="step step--reverse">
      <div class="step-info">
       <h3 class="step-info__title">Step 2: Keep track of position changes over time.</h3>
       <p class="step-info__text"> Now you can easily review historical ranking changes for any
        Tracked keyword. For instance, if you made a change to a page that ranks now you can easily see if your changes
        affected keyword rankings! </p>
      </div>
      <div class="step-image step-image--ml"><img
        src="../../static/site_audit/assets/keep_track_of_position_changes.svg" decoding="async"
        alt="Keywords historical changes chart" role="presentation"></div>
     </article>
     <article class="step">
      <div class="step-image step-image--mr"><img
        src="../../static/site_audit/assets/horse_envelope_flower-min.svg" decoding="async"
        alt="Smiley horse with a flower and envelope" role="presentation"></div>
      <div class="step-info">
       <h3 class="step-info__title"> Step 3: Relax! Now that you've added keyword tracking we'll
        do all the heavy lifting. </h3>
       <p class="step-info__text"> We'll automatically monitor all the keywords you've added
        tracking to and update you regularly on how they are doing and if we think there is room for improvement. If we
        notice any significant changes we'll also alert you immediately! </p>
      </div>
     </article>
     <div class="dFlex">

      <a href="/site_audit/my_keywords" id="back-to-keywords-btn-bottom" class="primary steps__btn c50">
       <!----><span class="c50"> Back to My Keywords </span>
      </a>
     </div>

    </div>
   </div>
  </div>
 </div>
</div>

{% endblock %}
{% block extrascript %}


{% endblock %}