{% extends "base2.html" %}
{% load static %}
{% block extrahead %}
{% endblock %}
{% block content %}

<div class="container">
  <div class="pt-4 pb-2">

 <app-breadcrumbs class="c197 ng-star-inserted"><a 
   class="home ng-star-inserted"><img  src="../../static/site_audit/assets/home.svg" alt="">
   <app-url-shortener class="c197">
    <div  class="segment ng-star-inserted">www.</div>
        <div class="selectedWebsite segment longest ng-star-inserted" ></div>

    <!---->
   </app-url-shortener>
  </a>
  <div  class="delimiter ng-star-inserted">/</div><a 
   class="item ng-star-inserted">Objectives</a>
  <!---->
  <!---->
 </app-breadcrumbs>
</div>
 <div class="row">
  <div class="col-md-8">
   <div class="card">
    <div class="card-body">
     <div class="row">
      <div class="col-md-2">
       <div class="dFlex">
        <div class="icon success mt-3">
         <img
            src="../../static/site_audit/assets/img/target-icons.png" alt="">
        </div>
       </div>

      </div>
      <div class="col-md-10">
       <div class="content_objective">
 <div class="loader">
                        <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>

                    </div>
      

       </div>
       <div class="c215">
        <section class="description_ ng-star-inserted" id="sub_descrip" style="margin-bottom: 16px;">
      </section>
        <!---->
        <!---->
        <div
         style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; background: linear-gradient(transparent, white);">
        </div>
       </div>

      </div>
     </div>
     <div class="row justify-content-center">
      <div class="col-md-11">
       <!-- banner -->
       <div class="banner--em ng-star-inserted">
        <div class="banner">
         <div class="description_">
          <h3 class="description__title">Become a Pro member today and instantly get full access
           to all your objectives and alerts!</h3>
          <p class="description__text">Your Pro membership will give you access to everything We
           offers plus you'll get free help from our team of professional Growth Experts. They'll help you navigate We
           and quickly figure out how to grow your website's traffic and rankings. With 250,000+ global members, we know
           what we are doing!</p><img src="../../static/site_audit/assets/img/man-with-a-light-bulb-idea.svg"
           alt="Man with an idea" role="presentation" width="166px" height="182px" decoding="async"
           class="description__image">
         </div>



         <div class="text-center mt-5">
          <h3 class="features__title">Here are just a few of the features Pro members get!</h3>

         </div>
         <div class="row p-4">
          <div class="col-md-6">
           <div class="d-flex">
            <div class="feature__image">

             <img src="../../static/site_audit/assets/img/upgrade1.png"
              class="me-3 rounded-circle" />
            </div>

            <div>
             <h4 class="feature-description__title">Growth Plan</h4>
             <p class="feature-description__text">Full access to daily alerts &amp; objectives
              that show you how to quickly grow traffic &amp; revenue.</p>
            </div>
           </div>


          </div>
          <div class="col-md-6">

           <div class="d-flex">

            <div class="feature__image">
             <img src="../../static/site_audit/assets/img/upgrade2.png"
              class="me-3 rounded-circle" />
            </div>

            <div>
             <h4 class="feature-description__title">SEO &amp; keywords</h4>
             <p class="feature-description__text">See the keywords in Google and backlinks you
              (and your competitors) have. Learn how to rank higher. </p>
            </div>
           </div>

          </div>

         </div>

         <div class="row p-4">

          <div class="col-md-6">

           <div class="d-flex">

            <div class="feature__image">
             <img src="../../static/site_audit/assets/img/upgrade3.png"
              class="me-3 rounded-circle" />
            </div>

            <div>
             <h4 class="feature-description__title">Benchmarking</h4>
             <p class="feature-description__text">We are constantly comparing your website's
              performance to similar websites in your industry. </p>
            </div>
           </div>

          </div>
          <div class="col-md-6">

           <div class="d-flex">

            <div class="feature__image">
             <img src="../../static/site_audit/assets/img/upgrade4.png"
              class="me-3 rounded-circle" />
            </div>

            <div>
             <h4 class="feature-description__title">Pro RankGuard®</h4>
             <p class="feature-description__text">Weekly scans of your current keyword rankings in
              Google. We’ll let you know if you already deserve to rank higher for a keyword and give you easy
              suggestions to get there. </p>
            </div>
           </div>

          </div>
         </div>
         <div class="d-flex">
          <button id="see-pricing-btn" view="primary" routerlink="/pricing" class="see-pricing-btn primary c50"
           tabindex="0">
           <!----><span>See Pricing </span>
          </button>
         </div>

        </div>
       </div>
      </div>
     </div>
     <!-- description -->


    </div>
   </div>

   <!-- lat cards
       -->

  </div>
  <div class="col-md-4">
   <div class="card">
    <div class="card-body">
     <div class="content_ c204">
      <h1>Annual Growth Opportunities</h1>
      <i class="far fa-question-circle" data-bs-toggle="tooltip" data-bs-placement="right" title="This is an estimate of how much more revenue your website could contribute to your business per year. This number is based on your analytics data and the opportunities we see for your website to grow."></i>

     </div>
     <div class="dFlex">
      <i class="fa fa-line-chart" style="font-size:24px"></i>
     </div>
     <div class="dFlex">
      <a routerlink="/profile/2" class="button ng-star-inserted" href="/app/profile/2">Complete Your
       Profile</a>


     </div>
    </div>
   </div>
   <!-- website trank -->
   <div class="card Card_height mt-4">
    <div class="card-body">
     <div class="row">
      <div class="col-md-8">
       <h6>Website Rank</h6>
      </div>

      <div class="col-md-4">
       <div class="float-end">
        <mat-icon role="img" svgicon="hint" data-bs-toggle="tooltip" data-bs-placement="right"
         title="Your website’s rankings are based on how your website compares to other websites. Your letter grades for traffic, social media, mobile traffic and user experience are updated regularly and are based on multiple metrics and data points."
         class="mat-icon notranslate mat-icon-no-color ng-star-inserted" aria-hidden="true" data-mat-icon-type="svg"
         data-mat-icon-name="hint"><i class="far fa-question-circle" aria-hidden="true"></i></mat-icon>
       </div>

      </div>
     </div>
     <!-- <div class="loader">
                        <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>

                    </div> -->
    </div>
      <div class="main_webite_rank dFlex2">
                        <app-rank class="ng-star-inserted">
                            <div class="rank">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <div style="width: 100px; height: 100px;  position: relative;">
                                    <div id="traffic_score_"
                                        style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -10px; line-height:19px; text-align: center;">

                                    </div>
                                    <canvas class="traffic rank-chart chartjs-render-monitor" height="106"
                                        width="106"></canvas>
                                </div>

                                <div class="rank-label"></div>
                            </div>
                              <div class="dFlex">
                                  <div class="traffic_loader">
                       <div class="spinner-border spinner-border-sm text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                                </div>
                            <div class="title_rank">Traffic</div>
                        </app-rank>
                        <app-rank class="ng-star-inserted">
                            <div class="rank">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <div style="width: 100px; height: 100px;  position: relative;">
                                    <div id="social_score_"
                                        style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -10px; line-height:19px; text-align: center;">

                                    </div>
                                    <canvas id="" class="social rank-chart chartjs-render-monitor" height="106"
                                        width="106"></canvas>
                                </div>



                                <div class="rank-label"></div>
                            </div>
                            <div class="title_rank">Social</div>
                        </app-rank>
                        <app-rank class="ng-star-inserted">
                            <div class="rank">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>

                                <div style="width: 100px; height: 100px;  position: relative;">
                                    <div id="mobile_score_"
                                        style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -10px; line-height:19px; text-align: center;">

                                    </div>
                                    <canvas id="" height="106" width="106"
                                        class=" mobile rank-chart chartjs-render-monitor"
                                        style="display: block; width: 106px; height: 106px;" data-rank="61"></canvas>
                                </div>


                                <div class="rank-label"></div>
                            </div>
                            <div class="title_rank">Mobile</div>
                        </app-rank>
                        <app-rank class="ng-star-inserted">
                            <div class="rank">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class=""></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class=""></div>
                                    </div>
                                </div>
                                <div style="width: 100px; height: 100px;  position: relative;">
                                    <div id="visitor_score_"
                                        style="width: 100%; height: 40px; position: absolute; top: 50%; left: 0; margin-top: -10px; line-height:19px; text-align: center;">

                                    </div>

                                    <canvas height="106" width="106" class="visitor rank-chart chartjs-render-monitor"
                                        style="display: block; width: 106px; height: 106px;" data-rank="33"></canvas>
                                </div>

                                <div class="rank-label"></div>
                            </div>
                            <div class="title_rank">Visitor Experience</div>
                        </app-rank>
                        <!---->
                    </div>
   </div>
   <!-- help card -->
   <div class="c207 mt-4">
    <div class="upper-part">
     <h1 class="c207_h1">Need Help?</h1>
     <p class="c207_p">Our experienced Growth Experts offer 15-minute website and We analytics review
      meetings to our members <b>M-F, 9am-5pm MT.</b></p><button id="schedule-appointment-btn" app-button=""
      class="btn btn-primary">
      <span>Schedule Free Appointment</span>
     </button>
     <p class="c207_p">Prefer email? Or do you live in a time zone that doesn’t work with our open hours?
     </p>
     <p class="email"><b>Email us: <a href="">support.com</a></b></p>
    </div>
    <div class="bottom-part">
     <p>We help <span><b>250,000+</b></span>
      businesses daily to grow their web traffic and increase their revenue.</p><img
      src="../../static/site_audit/assets/need-help-illustration.svg" alt="illustration">
    </div>
   </div>
  </div>
 </div>
</div>

{% endblock %}
{% block extrascript %}
<script src="{% static 'site_audit/js/objective.js' %}"></script>
<script src="{% static 'site_audit/js/websiteRankCharts.js' %}"></script>
<script src="{% static 'site_audit/js/scripts.js' %}"></script>

{% endblock %}