{% extends "base-setup.html" %}

{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<style>

input[name="new_password2"]{
  margin-left: 0px;
}
span.helptext,.bmd-form-group ul {
    width: 0;
    font-size: 0;
    color: transparent;
}
span.bmd-form-group input,input[name="new_password2"] {
    width: 100%;
    margin-bottom: 15px;
    background-image: linear-gradient(
      to top,
      #273eb0 2px,
      rgba(156, 39, 176, 0) 2px
    ),
    linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px
 solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
span.helptext ul,.bmd-form-group ul{
  margin: 0 auto;
}
span.bmd-form-group label, label {
  
    font-weight: normal;
}
.Instructions ul {
    margin: 0 auto;
    font-size: 13px;
    width: 100%;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(49, 52, 233, 0.4);
    padding: 10px 20px;
    
}
.card-header-rose{
  background-color: #2948ff;
  color: #fff;
      display: flex;
    align-items: center;
    justify-content: center;
}
  </style>
         {% endblock %}
         {% block content %}
         <div class="wrapper wrapper-full-page header-filter " filter-color="black">
            <div id="#myheader" class="page-header login-page ps">
              <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
              <div class="container mt-5">
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                    <form class="form" method="POST"  >
                      {% csrf_token %} 
                      <div class="card card-login">
                        <div class="p-2 card-header-rose">
                          <h4 class="card-title text-center">Reset Password</h4>
                        </div>
                        <div class="card-body " >
                     <!-- <img src="{%static 'user_management/setup/img/logo.png'%}" alt="logo" class="center" > -->
                     <br/>
                     <br/>

                     <span class="bmd-form-group">
                      {{ form.as_p }}
                       <div class="input-group">
                      
                         <span style="color: red;"></span>
                       </div>
                     </span>
                    
                 
<div class="Instructions"><ul></ul></div>

                          <!-- <p class="card-description text-center">Or Be Classical</p> -->
                         
                          <div class="card-footer justify-content-center">
                          <button type="submit" class="btn btn-primary col-12 mt-3" value="">Reset My Password</button>
                        </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            
          </div>

            {% endblock %}

{% block extrascript %}

<script>

    // window.onload = function () {
    //   $('.page-header').remove();

    //   $("#signin").click(function( event ) {
    //       var formData = $('#signin_form').serializeArray();
    //       console.log(formData);
    //       var blank = false;
    //       for (var i in formData) {
    //         if (!formData[i].value) {
    //           blank = true;
    //         };
    //       };
    //       if (!blank) {
    //         $(this).attr('data-loading-text', 'Logging In...');
    //         $(this).button('loading');  
    //       };
          
    //   });
    // }
    
    $(document).ready(function() {
         
      if('{{errors}}'){
      
         ShowNoty('{{errors}}');
        console.log("errors",'{{errors}}')
       
      }

      $(".Instructions ul").html($(".bmd-form-group ul").html());
     
    
     
       });
    //   {% if messages %}
    //   {% for message in messages %}
       
    //     ShowNoty('{{message}}');
    //   {% endfor %}
    //   {% endif %}

    // });
    
   
</script>

{% endblock %}