{% extends "base-setup.html" %}
{% load widget_tweaks %}
{% load static %}
{% load bootstrap5 %}
{% block extrahead %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<style>

  </style>
         {% endblock %}
         {% block content %}
         <div class="wrapper wrapper-full-page header-filter" filter-color="black">
            <div id="#myheader" class="page-header login-page ps">
              <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
              <div class="container">
             
              
                <div class="row">
                  <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                    <form class="form" method="POST" action="/accounts/login/" >
                      {% csrf_token %} 
                      <div class="card card-login">
                        <div class="card-header card-header-rose text-center">
                          <h4 class="card-title">Check your inbox</h4>
                          
                        </div>
                        <!-- <input type="hidden" name="csrfmiddlewaretoken" value="os8L7l1301fBxno9dmHFOzFmt1cuIr5pysUdCJGtXDEghaRWdjnJDMaUWSyzeNPV"> -->
                        <div class="card-body "style="text-align: center;">
                         
                     <img src="{%static 'user_management/setup/img/logo.png'%}" alt="logo" class="center" >
                          <!-- <p class="card-description text-center">Or Be Classical</p> -->
                         <span >Your new password has been set. You can log in now on the <a href="/accounts/login"> Log In page</a></span>
                        
                        </div>
                        <br/>
                        
                        <div class="card-footer justify-content-center">
                          <!-- <button type="submit" class="btn btn-theme btn-link btn-lg" value="">Send Me Instructions</button> -->
                         
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <footer class="footer">
                <div class="container">
             
                  <div class="copyright float-right">
                    ©
                    <script>document.write(new Date().getFullYear())</script> Keyword Search <address><a href="mailto:support@shineranker.com"></a></address>
                  </div>
                 
                </div>
              </footer>
            <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
          </div>

            {% endblock %}

{% block extrascript %}

<script>

    
    $(document).ready(function() {
         
      if('{{errors}}'){
      
         ShowNoty('{{errors}}');
        console.log("errors",'{{errors}}')
       
      }
     
       });
    //   {% if messages %}
    //   {% for message in messages %}
       
    //     ShowNoty('{{message}}');
    //   {% endfor %}
    //   {% endif %}

    // });
    
   
</script>

{% endblock %}